admin/*/config/development
admin/*/logs/log-*.php
admin/!*/logs/index.html
admin/*/cache/*
admin/!*/cache/index.html
admin/!*/cache/.htaccess
admin/*.idea/*

floris/*/config/development
floris/*/logs/log-*.php
floris/!*/logs/index.html
floris/*/cache/*
floris/!*/cache/index.html
floris/!*/cache/.htaccess
admin/*.idea/*
